.CharacterListMain {
    display: flex;
    justify-content: center;
}

.CharacterListMain ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    padding-top: 75px;
  }
.CharacterListMain p {
    margin: 0;
}
.CharacterListMain__button-container {
    max-width: 680px;
    margin: 0 10px;
  }
  
.CharacterListMain__add-character-button {
    margin: 0 auto 20px;
  }

.CharacterListMain__add-character-button:hover {
    background-color: #29862e;
    color: white;
  }