.CharacterListMain {
    display: flex;
    justify-content: center;
}

.CharacterListMain ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    padding-top: 75px;
}

.CharacterListMain p {
    margin: 0;
}

/* .CharacterListMain__button-container {
    max-width: 800px;
    margin: 0 10px;
}
  
.CharacterListMain__add-character-button {
    margin: 0 auto 20px;
}

.CharacterListMain__add-character-button:hover {
    background-color: #29862e;
    color: white;
} */

.add-character-button-list {
  position: fixed;
  bottom: 0em;
  display: block;
  padding:.7em 1.4em;
  margin:1.0em 0.5em 0.5em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  text-align: center;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  font-weight:400;
  background-color: #010d1e;
  color: #FFFFFF; 
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
}

.add-character-button-list:active {
  bottom:0.1em;
}

.add-character-button-list:hover {
  background-color: #010d1e;
  color: #FFFFFF;
}