
.Character {
  position: relative;
  border-radius: 10px;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(77, 74, 74, 0.17);
  padding: .5em;
  margin-top: 2em;
  font-weight:900;
  background-color: #010d1e;
  color: #FFFFFF;
  height: 100px;
  min-width: 300px;
  max-width: 550px;
}
  
.Character__Options {
  --character-button-height: 100px;
  background-color: #041a3a;
  border: 0;
  border-radius: 10px;
  margin: 1px 0px 15px 15px;
  color: #FFFFFF;
  float: right;
  font-size: 12px;
  transform-origin: right bottom;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  width: calc(var(--character-height));
}

.Character__Options:hover {
  background-color: #FFB72F;
  color: #010d1e;
  cursor: pointer;
  font-weight: bold;
}
.name a {
  color: #FFFFFF
}
.name a:hover {
  color: #FFB72F;
}
