.CharacterListMain {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.CharacterPageMain ul {
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-flow: row wrap;
}

.CharacterPageMain li {
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: #041a3a;
    border: 2px solid #041a3a;
    border-radius: 25px;
    min-width: 200px;
    max-width: 300px;
}

h2 {
    padding-top: 100px;
}