* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    display: flex;
    justify-content: center;
}
h1 {
    padding-top: 100px;
}
section {
    min-height: 200px;
    min-width: 400px;
    background-color: white;
    border: 0;
}
.new-character-question {
    border: 0;
    min-width: 400px;
}
.CharacterForm__add-character-button {
    padding:1.4em 2.1em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    text-align: center;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#FFB72F;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position:relative;
}

.CharacterForm__add-character-button:active {
    top:0.1em;
}

.CharacterForm__add-character-button:hover {
    background-color: #010d1e;
    color: white;
}
.new-character-name {
    padding:.8em 1.1em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    border-bottom-style: 2px #010d1e solid;
}