* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #010d1e;
  }

  header {
    padding: 45px 15px;
  }
  
  a:visited {
    color: #FFB72F;
  }

  a:hover {
    color: rgb(245, 14, 245);
  }
  
  section {
    min-height: 200px;
    padding: 30px 15px;
    background-color: white;
    border-bottom-style: solid;
  }
  
  section:nth-child(even) {
    background-color: whitesmoke;
  }
  
  p {
    margin: 0 auto;
    max-width: 650px;
  }
  
  p + p {
    margin-top: 15px;
  }
  .logo {
    max-width: 500px;
  }
  